* {
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.question {
  background-color: #00be55;
  color: white;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  width: 100wh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: opacity 1s;
}

.team.expanded {
  width: 30%;
  padding: 10px;
}

.scoreboard {
  display: flex;
  background-color: #333;
  color: white;
  border-radius: 2px;
  height: 100%;
}

.team {
  width: 0%;
  overflow: hidden !important;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;

  position: relative;
  overflow: hidden;
  box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.team h2,
.team span {
  opacity: 0;
}
.team.expanded h2,
.team.expanded span {
  opacity: 1;
  margin: 10px;
}

.blue {
  background-color: #0d6eff;
  border-radius: 2px;
}

.red {
  background-color: #ff4136;
  border-radius: 2px;
}

#alternative-1,
#alternative-2,
#alternative-3,
#alternative-4 {
  word-wrap: normal;
  font-size: 20px;
  word-break: keep-all;
}

#blue-score,
#red-score {
  font-size: 96px;
  display: block;
  margin-top: 10px;
}

.team_marker {
  font-size: 24px;
}

/* Animação para a pergunta */

.hid {
  opacity: 0;
}
/* Aplicar isso ao elemento de texto */
.typing {
  overflow: hidden;
  width: 100%;
  opacity: 1;
  max-height: 100%;
}

.hidden.hidden.hidden.hidden.hidden {
  display: none !important;
}

/* Switch styles */
.settings-container {
  text-align: left;
}
.setting {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.setting-label {
  flex: 1;
  font-size: 16px;
}
.selecter {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 2px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 2px;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(20px);
}

.team span.ripple {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;

  animation: ripple 2s;
  opacity: 0;
}

/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(100);
  }
}

.back-coral {
  background-color: #FF7F50;
}
.back-orange {
  background-color: #FF5F1F;
}


.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #ff2020;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke: #ff2020;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #ff2020;
  }
}

 .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  
  .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;
      
      &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      &::before, &::after {
          content: '';
          height: 100px;
          position: absolute;
          background: transparent;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: #4CAF50;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
          
          &.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          &.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      }
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(76, 175, 80, .5);
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: transparent;
      }
  }
}

@keyframes rotate-circle {
  0% {
      transform: rotate(-45deg);
  }
  5% {
      transform: rotate(-45deg);
  }
  12% {
      transform: rotate(-405deg);
  }
  100% {
      transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  54% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  70% {
      width: 50px;
      left: -8px;
      top: 37px;
  }
  84% {
      width: 17px;
      left: 21px;
      top: 48px;
  }
  100% {
      width: 25px;
      left: 14px;
      top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  65% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  84% {
      width: 55px;
      right: 0px;
      top: 35px;
  }
  100% {
      width: 47px;
      right: 8px;
      top: 38px;
  }
}



@keyframes moneyAnimation {
  0% {
    opacity: 1;
    top: 42.5%;
  }
  100% {
    opacity: 0;
    top: 32.5%;
  }
}

.moneyAnimation {
  animation: moneyAnimation 1s forwards;
  position: absolute;
  font-size: 64px;
  margin-left: 20px;
}